<div class="container mt-4">
  <div class="row">
    <div class="col">
      <div class="h2">Hi There, Welcome to the big red button.</div>
			<div class="card mt-4">
				<div class="card-body">
					<div class="h4">Enter your room name here to create or join a room.</div>
					<form action="/room" method="POST">
						<input type="text" name="room_name" class="form-control"/>
						<button type="submit" class="btn btn-primary mt-2">Submit</button>
					</form>
				</div>
			</div>
    </div>
  </div>
</div>